# Godot 4+ specific ignores
.godot/
/android/
*.exe
*.exe
/addons/command-terminal
/addons/script-ide
core/udp_manager.gd

/addons/thot/libp2p-godot/lib/debug
addons/thot/webrtc/lib/~libwebrtc_native.windows.template_debug.x86_64.dll~RF56ef0df.TMP
/addons/thot/libp2p/lib/debug
/quit
addons/thot/webrtc/lib/~libwebrtc_native.windows.template_debug.x86_64.dll
